@using BlazorUiKit.UiKit.Buttons;
@using BlazorUiKit.Components.Controls;

<ControlsList Controls="Controls"></ControlsList>

<div class="template-content">
    <DynamicComponent Type="typeof(Button)" Parameters="ButtonParameters"></DynamicComponent>
</div>
