<div class="app-sidebar">
    <div class="app-sidebar-header">
        <div class="title">
            Blazor UI Kit Docs
        </div>
    </div>
    
    <div class="app-sidebar-body">
        
    </div>
</div>
